---
import Layout from '../layouts/Layout.astro';
import Container from '../components/shared/Container.astro';
import TemperatureGraph from '../components/graph/TemperatureGraph';
---

<Layout title="Temperatura">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <section class="relative pt-32 lg:pt-36">
      <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0"></div>
        <span
          class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-red-700 to-orange-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"
        ></span>
        <div
          class="relative flex flex-col items-center text-center lg:py-7 xl:py-8
         lg:max-w-none max-w-3xl mx-auto lg:mx-0 lg:flex-1 lg:w-1/2"
        >
          <h1
            class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight
             font-bold text-heading-1"
          >
            Gráfica de <span
              class="text-transparent bg-clip-text bg-gradient-to-br from-red-700 from-20% via-red-400 via-30% to-orange-600"
              >Temperatura</span
            >
          </h1>
        </div>
      </Container>
      <section class="flex flex-col justify-evenly pb-10">
        <div class="flex justify-center items-center">
          <TemperatureGraph client:visible />
        </div>
      </section>
    </section>
  </main>
</Layout>
