---
import Layout from "@layouts/Layout.astro";
import Table from "@components/Table/Table";
import Header from "@components/Header/Header";
import ReservationModal from "@components/Modal/ReservationModal";
---

<Layout>
    <section class="container mx-auto">
        <Header title="Reservaciones", description="Maneja aquí las reservaciones">
            <ReservationModal client:visible />
        </Header>
        <Table />
    </section>
</Layout>
